<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Register !</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm" action="/action_page.php">
            <div class="container">
              <label for="username"><b>Username</b></label>
              <input type="text" formControlName="username" placeholder="Enter Username" required>
              <label for="psw"><b>Password</b></label>
              <input type="password" formControlName="password" placeholder="Enter Password" name="psw" id="psw" required>
              <label for="email"><b>Email</b></label>
              <input type="text" formControlName="email" placeholder="Enter Email" name="email" id="email" required>
            </div>
          </form>
      <app-alert *ngIf="flag" ></app-alert>
      <app-badalert *ngIf="badFlag" ></app-badalert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="register()">register</button>
    </div>
  </ng-template>
  <a  (click)="open(content)">Register</a>
  