<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div style="margin-top: 30px;" class="content">
    <div class="searlog">
        <div class="logoo">
            <span routerLink="" >Ducks Store</span>
        </div>
        <div style="width: 30%;" class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <mat-icon>search</mat-icon>
          </span>
        </div>
        <div class="cate">
          <div *ngIf="!username" style="color: orange;" class="labell">
            <span routerLink="/login" class="action" >
              <app-login></app-login>
            </span>
            <span routerLink="/register" class="action" style="margin-left: 30px;" >
              <app-register></app-register>
            </span>
          </div>
          <div *ngIf="username" style="color: orange;" class="labell">
            <span routerLink="/login" class="action" >
              <a>{{username}}</a>
            </span>
            <span routerLink="/register" class="action" style="margin-left: 30px;" >
              <a ngbDropdown >
                <a style="color: black;" ngbDropdownToggle>Actions</a>
                <div style="width: 250px; " ngbDropdownMenu>
                  <span>
                    <h3 ngbDropdownItem>Edit</h3>
                  </span>
                  <span>
                    <h3 ngbDropdownItem>Cart</h3>
                  </span>
                  <span>
                    <h3 ngbDropdownItem>History</h3>
                  </span>
                  <span>
                    <h3 ngbDropdownItem>Message</h3>
                  </span>
                  <div class="dropdown-divider"></div>
                    <h3 (click)="logout()" ngbDropdownItem>Logout</h3>
                </div>
              </a>
            </span>
          </div>
        </div>
    </div>
</div>
