<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div style="margin-top: 30px;" class="content">
    <div class="searlog">
        <div class="logoo">
            <span routerLink="" >Ducks Store</span>
        </div>
        <div class="cate">
          <div style="color: orange;" class="labell">
            <span routerLink="/login" class="action" >
              <app-login></app-login>
            </span>
            <span routerLink="/register" class="action" style="margin-left: 30px;" >
              <app-register></app-register>
            </span>
          </div>
        </div>
    </div>
</div>
